html{
  background: #eee;
}



.imgButton {
    border: none;
    background: transparent;
}
.studentLogin{
  background: url(img/admin_login_pic.png);
}

/*select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   border:2px solid #ccc;
   border-radius: 3px;
}
select::-ms-expand { /* for IE 11 
    display: none;
}
*/

.showunderline{
  color: #0077dd;
  cursor: pointer;
  text-decoration:underline;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}